body {
    display: flex;
    background-color: aquamarine;
    justify-content: stretch;
    align-items: stretch;
    min-height: 100vh;
    margin: 0;

}

.container {
    background-color: antiquewhite;
    flex: 1;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
}

.container div {
    width: 6.25%;
    height: 6.25%;

}