body {
    display: flex;
    background-color: aquamarine;
    justify-content: stretch;
    align-items: stretch;
    min-height: 100vh;
    margin: 0;
    flex-direction: column;

}

.popup {

    flex-basis: 50px;
    background-color: aliceblue;
    display: flex;
    justify-content: center;

}

#reset {
    flex-basis: 50px;
    font-size: 50px;
}

.container {
    background-color: antiquewhite;
    flex: 1;
    display: flex;
    flex-wrap: wrap;

    height: 100vw;
}

.container div {
    width: calc(100% / 16);
    aspect-ratio: 1 / 1;


    background: #eee;
    display: flex;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
}